.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-category {
  display: flex;
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  padding: 32px 24px 24px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.card-category a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
  font-size: 28px;
  width: 280px;
  text-align: center;
}
