
.footer-content{
    background-color: var(--background-tertiary-color);
    width: 100%px;
    height: 284px;
    text-align: center;
}

.footer-content header img{
    width: 162px;
    height: 40px;
    margin: 0 auto;
}

.footer-content div p{
    color: var(--text-secondary-color);
    display: block;
    gap: 8px;
}


