.hero .hero-img,
.bottom-hero .hero-img,
.bottom-hero-contacts .hero-img {
  height: 400px;
  width: 100%;
}
.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}
.bottom-hero .hero-img {
  background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

/* BLOG */
.hero-blog .hero-img-blog {
  height: 460px;
  width: 100%;
  background: url(../img/blog/bg-hero-blog-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 88px;
}

.hero-blog .section-title,
.hero-travel-packages .section-title,
.hero-contacts .section-title {
  width: 100%;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  padding: 65px 24px;
  box-sizing: border-box;
  margin: 0;
}

.hero-blog .section-title h1,
.hero-travel-packages .section-title h1,
.hero-contacts .section-title h1 {
  color: var(--text-secondary-color);
  font-size: 48px;
  text-align: left;
  margin: 0;
}

.hero-blog .section-title .content-text,
.hero-travel-packages .section-title .content-text,
.hero-contacts .section-title .content-text {
  color: var(--text-secondary-color);
  margin: 0;
  line-height: 32px;
}

.hero-blog .section-title hr,
.hero-travel-packages .section-title hr,
.hero-contacts .section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

/* PACOTES DE VIAGEM */
.hero-travel-packages .hero-img-travel-packages {
  height: 460px;
  width: 100%;
  background: url(../img/travel-packages/japan-bg-hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: 70% center;
  margin-bottom: 88px;
}

.bottom-hero-travel-packages .hero-img {
  background: url(../img/travel-packages/bg-bottom-hero-travel-packages-mobile.png)
    no-repeat;
  background-size: cover;
  height: 400px;
}

/* CONTATOS */
.hero-contacts .hero-img-contacts {
  height: 460px;
  width: 100%;
  background: url(../img/contacts/bg-hero-contacts-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: 30%;
  margin-bottom: 88px;
}

.bottom-hero-contacts .hero-img {
  background: url(../img/contacts/bg-bottom-hero-contacts-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* BLOG */
  .hero-blog .hero-img-blog {
    height: 620px;
    background: url(../img/blog/bg-hero-blog-tablet.jpg) no-repeat;
    background-position: center;
  }
  .hero-blog .section-title {
    width: 100%;
    min-height: 303px;
    padding: 158px 94px;
  }

  .hero-blog .section-title .content-text,
  .hero-travel-packages .section-title .content-text,
  .hero-contacts .section-title .content-text {
    font-size: 32px;
    height: 192px;
    line-height: 1.5;
  }

  /* PACOTES DE VIAGEM */
  .hero-travel-packages .hero-img-travel-packages {
    height: 620px;
    width: 100%;
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-travel-packages .section-title {
    width: 100%px;
    min-height: 303px;
    padding: 208px 68px 108px 120px;
  }

  .bottom-hero-travel-packages .hero-img {
    background: url(../img/travel-packages/bg-bottom-hero-travel-packages-tablet.png)
      no-repeat;
    background-size: cover;
    height: 400px;
  }

  /* CONTATOS */
  .hero-contacts .hero-img-contacts {
    height: 620px;
    width: 100%;
    background: url(../img/contacts/bg-hero-contacts-tablet.png) no-repeat;
    background-size: cover;
    margin-bottom: 88px;
  }

  .hero-contacts .section-title {
    width: 100%;
    min-height: 303px;
    padding: 182px 94px;
  }

  .bottom-hero-contacts .hero-img {
    background: url(../img/contacts/bg-bottom-hero-contacts-tablet.png)
      no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
  }

  /* BLOG */
  .hero-blog .hero-img-blog {
    height: 620px;
    width: 100%;
    background: url(../img/blog/bg-hero-blog-desktop.jpg) no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  /* PACOTES DE VIAGEM */
  .hero-travel-packages .hero-img-travel-packages {
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-blog .section-title,
  .hero-travel-packages .section-title,
  .hero-contacts .section-title {
    width: 100%;
    min-height: 202px;
    padding: 158px 740px 158px 120px;
  }

  .bottom-hero-travel-packages .hero-img {
    background: url(../img/travel-packages/bg-bottom-hero-travel-packages-desktop.png)
      no-repeat;
    background-size: cover;
    height: 600px;
  }

  /* CONTATOS */
  .hero-contacts .hero-img-contacts {
    height: 620px;
    width: 100%;
    background: url(../img/contacts/bg-hero-contacts-desktop.png) no-repeat;
    background-size: cover;
    margin-bottom: 88px;
  }

  .bottom-hero-contacts .hero-img {
    background: url(../img/contacts/bg-bottom-hero-contact-desktop.png)
      no-repeat;
    background-size: cover;
    height: 600px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }

  /* CONTATOS */
  .hero-contacts .hero-img-contacts {
    height: 1000px;
    width: 100%;
    background: url(../img/contacts/bg-hero-contacts-desktop.png) no-repeat;
    background-size: cover;
    margin-bottom: 88px;
  }

  .hero-contacts .section-title {
    width: 100%;
    min-height: 680px;
    padding: 350px 900px 158px 120px;
  }

  .hero-contacts .section-title .content-text {
    font-size: 52px;
    height: 202px;
    line-height: 1.5;
  }
  .hero-contacts .section-title h1 {
    color: var(--text-secondary-color);
    font-size: 74px;
    text-align: left;
    margin: 0;
  }
  .hero-contacts .section-title hr {
    width: 300px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 32px;
  }
}
