.payments .image-gallery,
.payments-travel-packages .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/* PACOTES DE VIAGEM */
.payments-travel-packages .content-container .text-content .content-title{
  width: 312px;
  height: 46px;
  font-size: 40px;
}

.payments-travel-packages .content-container .text-content .payment-method{
  width: 312px;
  height: 46px;
  font-size: 28px;
  margin: 24px 0;
}

.payments-travel-packages .content-container .button{
  margin: 24px 0;
}

.payments-travel-packages .content-container .image-gallery .image.one {
  background: url(../img/travel-packages/gallery1-payments-mobile.png) no-repeat;
  background-size: cover;
  width: 144px;
  height: 254px;
}
.payments-travel-packages .content-container .image-gallery .image.two {
  background: url(../img/travel-packages/gallery2-payments-mobile.png) no-repeat;
  background-size: cover;
  width: 144px;
  height: 254px;
}
.payments-travel-packages .content-container .image-gallery .image.three {
  background: url(../img/travel-packages/gallery3-payments-mobile.png) no-repeat;
  background-size: cover;
  width: 312px;
  height: 182px;
}
.payments-travel-packages .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}


@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
